$font: Lobster, sans;
$h1size: 6rem;
$h2size: 2.6rem;
$haccroche: 500px;
$calign: 100%;
$pp: 2rem;
$sub: 0.8;
$fs: 25px;
$fmenu: 22px !important;
$fcar: 15px !important;
$ffooter: 20px !important;
$pres: 45px;
$top: 15px !important;
$top2: 300px !important;
$margin:0 auto;
$mbottom: 60px;
$w1:500px;
$w2:400px;
$widthguit: -0.5px;